Flask==2.2.5
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.5
Flask-Login==0.6.3
Flask-WTF==1.1.1
WTForms==3.0.1
python-dotenv==1.0.0
pymysql==1.1.0
cloudinary==1.36.0
Werkzeug==2.2.3
Jinja2==3.1.2
click==8.1.7
gunicorn==21.2.0